nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
#nav-list{
    display: flex;
    flex: 5;
    justify-content: space-around;
    list-style: none;

}
img{
    height: 100px;
    width: 30px;
    display: flex;
    flex: 2;
    object-fit: contain;
}
button{
    height: 3rem;
    width: 6rem;
    display: flex;
    flex: 2;
    text-align: center;
    align-items: center;
    box-shadow: 2px 4px 8px black;
    position: relative;
    right: 1rem;
}
button i{
    left: 0;
    padding-right: 1rem;
}
button a{
    text-align: center;
}
button:hover{
    background-color: lightblue;
    box-shadow: 2px 4px 30px black;
    transition-duration: 2s;
}