#container{
    height: 500px;
    width: 80%;
    background-color: blanchedalmond;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 10%;
    text-align: center;
    color: white;
    font: 1.5em sans-serif;
}