*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color:#184698;
    color: white;
    width: 100%;
}
.container {
    display: flex;
    align-items: center;
}
.line1{
    max-width: 1200px;
    height: 80px;
    width: 100%;
    margin: 0 auto; /*Not working*/
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    display: flex;
    align-items: center;
}
.items{
    display: flex;
    gap:40px;
    cursor: pointer;
}
.group1{
    display: flex;
    gap: 32px;
    align-items: center;
}
.group2{
    display: flex;
    gap: 10px;
    align-items: center;
}
.group2 button{
    height: 34px;
    width: 64px;
    color:rgb(58, 58, 230);
    align-items: center;
    border-radius: 4px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    list-style: none;
}
.line2{
    width: min(1200px, calc(100% - 48px));
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.line2 ul{
    display: flex;
    gap: 40px;
}
#stays{
    border: 2px solid white;
    padding: 10px 17px;
    border-radius: 20px 20px;
}
.line2 ul li{
    padding: 10px 17px;
}
.line2 ul li:hover{
    background: rgba(211, 209, 209, 0.1);
    border-radius: 20px 20px;
}
.group1 button{
    background: none;
    border: none;
    cursor: pointer;
}
div.group1 span:hover{
    border-radius: 2px 2px;
    background: rgba(211, 209, 209, 0.1);
    padding: 13px 0;

}
div.group2 span:hover{
    background: rgba(211, 209, 209, 0.1);
    border-radius: 2px 2px;
    padding: 13px 0;
}
